* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert {
  padding: 1.4em;
  background: #f44336;
  color: #FFF;
  transition: opacity 0.6s;
}

.alert .close {
  margin-left: 15px;
  font-size: 1.5em;
  color: #FFF;
  font-weight: bold;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}